* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Garante que o preenchimento/padding seja incluido no cálculo da largura, evitando que o conteúdo ultrapasse a tela */
   
}


html {
    width: 100%;
    height: 100vh;
}

header {
    padding: min(5vh, 4rem); /*ajustando o padding para ser mais flexível  */
    background-color:#001848 ;
    width: 100%; /*Colocamos a largura para 100% do espaço disponivel*/

    display: flex;
    justify-content: space-between;
    align-items: center;


   /*Aqui começamos o posicionamento do Header*/
  position: sticky;/*pocionamento do Header usando styck, sendo um posicionamento fixo, porem distinto do fixed*/
  top: 0; /*Espaçamento superior zerado, fazendo com que o header fique grudado ao top*/
  left: 0;/*Espaçamento a esquerda zerado, fazendo com o que o header fique grudado á esquerda*/
  z-index: 999;/*Eixo de profundidade
  (Eixo Carteziano)*/
  box-shadow: 0 0.21rem 0.5rem white; /*Primeiro valor sombra na Direita (0)
  segundo valor sombra Bottom (0.21rem)
  terceiro valor gradiant da sombra (0.5rem)
  */

}

header i {
    color: azure;
    font-size: 6em;
}

header button {
    width: 13rem;
    height: 1.5rem;
    background-color:aliceblue ;
    border-radius: 1rem;
    padding: 1.3rem;
    color: rgb(98, 4, 250);
    display: flex;
    align-items: center;
    justify-content: center;

}

.section-01 {
      display: flex;
      justify-content: space-evenly;
      align-items: center; 
      background-color: rgb(146, 238, 241);
      width: 100%;
      padding: min(20vh, 6rem);

}

.section-02 {

    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    background-color: rgb(0, 66, 68);
    width: 100%;
    padding: min(20vh, 6rem);


}

.div-01 p{
    font-size: 2em;
    margin: 1.2em;
    color:rgb(0, 0, 0);

 }

 .div-03 p{
    font-size: 2em;
    margin: 1.2em;
    color:rgb(255, 255, 255);

 }

 .div-02 img {
    width: 30rem;
    margin: 5rem auto;
    display: block;/*Garantindo que a imagem se comporte como um bloco*/
 }
 /*************************************************************************************************************/
  .section-03 {
    
  }  


 .conteúdo {
    display: flex; /* Cria um contêiner flexível */
    position: relative; /* Permite que os elementos filhos sejam posicionados em relação a este contêiner */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    margin-bottom: 10rem; /* Adiciona espaço abaixo do contêiner */
    flex-wrap: wrap; /* Permite que os itens se movam para uma nova linha se necessário */
    z-index: 1; /* Define a ordem de sobreposição do contêiner */
}



.conteúdo .div-caixa {
    position: relative; /* Permite que elementos filhos sejam posicionados em relação ao cartão */
    width: 200px; /* Define o tamanho do cartão */
    height: 400px; /*Altura do Cartão*/
    margin: 30px;/* Adiciona espaço ao redor de cada cartão */
    box-shadow: 20px 20px 50px rgba(22, 12, 41, 0.699); /* Cria uma sombra ao redor do cartão */
    border-radius: 15px;  /* Arredonda os cantos do cartão */
    background: rgba(223, 167, 223, 0.288); /* Define uma cor de fundo com transparência */
    justify-content: center; /*Justificando o conteúdo ao centro*/
    align-items: center; /*Alinhando os itens ao centro*/
    border-top: 1px solid rgba(255, 255, 255, 0.5); /*Borda superior*/
    border-left: 1px solid rgba(255, 255, 255, 0.5);/*Borda esquerda*/
}

.conteúdo {
    padding: 20px; /* Adiciona espaço interno ao redor do conteúdo */
    text-align: center; /* Centraliza o texto dentro do elemento */
    transform: translateY(50px); /* Move o conteúdo 50px para baixo inicialmente */
    opacity: 0.2; /* Define a transparência inicial como 20% */
    transition: 0.5s; /* Cria uma transição suave para mudanças nas propriedades */
}


.conteúdo:hover {
    transform: translateY(0px); /* Move o conteúdo para sua posição original ao passar o mouse */
    opacity: 1; /* Aumenta a opacidade para 100% ao passar o mouse */
}

.conteúdo h2 {
    position: absolute; /* Posiciona o título de forma absoluta em relação ao contêiner pai */
    right: 30px; /* Alinha o título 30px à direita do contêiner */
    font-size: 5rem; /* Define um tamanho de fonte grande para o título */
    color: rgba(128, 128, 128, 0.5); /* Define uma cor cinza com 50% de opacidade */
    pointer-events: none; /* Desativa eventos de ponteiro, tornando o elemento não clicável */
}
.conteúdo h3 {
    font-size: 1.8em; /* Define um tamanho de fonte para o subtítulo */
    color: rgb(41, 40, 40); /* Define a cor do subtítulo como um tom escuro */
    z-index: 1; /* Define a ordem de sobreposição para garantir que o subtítulo esteja acima de outros elementos */
}
.conteúdo p {
    font-size: 0.8em; /* Define um tamanho de fonte menor para o parágrafo */
    color: rgb(65, 63, 63); /* Define a cor do parágrafo como um tom escuro */
    font-weight: 300; /* Define o peso da fonte como leve */
    margin-top: 4rem; /* Adiciona uma margem superior de 4rem para espaçamento */
}
.conteúdo a {
    position: relative; /* Define a posição do link como relativa, permitindo ajustes de posicionamento */
    display: inline-block; /* Faz o link se comportar como um bloco inline */
    padding: 8px 20px; /* Adiciona padding ao redor do texto do link */
    margin-top: 2.7rem; /* Adiciona uma margem superior de 2.7rem para espaçamento */
    background: white; /* Define o fundo do link como branco */
    color: black;  /* Define a cor do texto do link como preto */
    text-decoration: none;  /* Remove o sublinhado padrão dos links */
    border-radius: 15px;  /* Arredonda os cantos do link */
    font-weight: 500; /* Define o peso da fonte como seminegrito */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra ao redor do link para efeito de profundidade */
}



 footer {
    background-color:#03112c;
    width: 100%;
    padding: min(10vh, 4rem);
    display: flex;
    justify-content: space-around;
    align-items: center;
   


 }

 footer i {
    color: azure;
    font-size: 6em;

 }

 footer h2 {
    font-size: 2em;
    margin: 1.2em;
    color:rgb(255, 255, 255);

     
 }


 @media(max-width: 830px) {
    header i {
        font-size: 4.1rem;
    }

    header button {
        width: 10rem;
        height: 0.8rem;
    }

    .section-01{
        padding: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

    }

    .div-01 p {
        font-size: 1.1rem;
        line-height: 1.5;
        text-align: left;
        width: 100%;
        margin: 2em;
        padding: 2rem;
    }

    .div-03 p {
        font-size: 1.1rem;
        line-height: 1.5;
        text-align: left;
        width: 100%;
        margin: 2em;
        padding: 2rem;
    }

    .div-02 img {
        width: 20rem;
        margin: 5 auto;
    }

    .section-02 {
        padding: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

    }

    footer i{
        font-size: 4.2rem;

    }

    footer h2 {
        font-size: 1.1rem ;
        line-height:1.5rem ;
        text-align:left;
        width: 100%;
        margin: 2em ;
        padding:2rem ;
       
    }
 }