* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Garante que o preenchimento/padding seja incluido no cálculo da largura, evitando que o conteúdo ultrapasse a tela */
   
}


html {
    width: 100%;
    height: 100vh;
}

header {
    padding: min(5vh, 4rem); /*ajustando o padding para ser mais flexível  */
    background-color:#001848 ;
    width: 100%; /*Colocamos a largura para 100% do espaço disponivel*/

    display: flex;
    justify-content: space-between;
    align-items: center;


   /*Aqui começamos o posicionamento do Header*/
  position: sticky;/*pocionamento do Header usando styck, sendo um posicionamento fixo, porem distinto do fixed*/
  top: 0; /*Espaçamento superior zerado, fazendo com que o header fique grudado ao top*/
  left: 0;/*Espaçamento a esquerda zerado, fazendo com o que o header fique grudado á esquerda*/
  z-index: 999;/*Eixo de profundidade
  (Eixo Carteziano)*/
  box-shadow: 0 0.21rem 0.5rem white; /*Primeiro valor sombra na Direita (0)
  segundo valor sombra Bottom (0.21rem)
  terceiro valor gradiant da sombra (0.5rem)
  */

}

header i {
    color: azure;
    font-size: 6em;
}

header button {
    width: 13rem;
    height: 1.5rem;
    background-color:aliceblue ;
    border-radius: 1rem;
    padding: 1.3rem;
    color: rgb(98, 4, 250);
    display: flex;
    align-items: center;
    justify-content: center;

}

.section-01 {
      display: flex;
      justify-content: space-evenly;
      align-items: center; 
      background-color: rgb(146, 238, 241);
      width: 100%;
      padding: min(20vh, 6rem);

}

.section-02 {

    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    background-color: rgb(0, 66, 68);
    width: 100%;
    padding: min(20vh, 6rem);


}

.div-01 p{
    font-size: 2em;
    margin: 1.2em;
    color:rgb(0, 0, 0);

 }

 .div-03 p{
    font-size: 2em;
    margin: 1.2em;
    color:rgb(255, 255, 255);

 }

 .div-02 img {
    width: 30rem;
    margin: 5rem auto;
    display: block;/*Garantindo que a imagem se comporte como um bloco*/
 }

 footer {
    background-color:#001848;
    width: 100%;
    padding: min(10vh, 4rem);
    display: flex;
    justify-content: space-around;
    align-items: center;
   


 }

 footer i {
    color: azure;
    font-size: 6em;

 }

 footer h2 {
    font-size: 2em;
    margin: 1.2em;
    color:rgb(255, 255, 255);

     
 }


 @media(max-width: 830px) {
    header i {
        font-size: 4.1rem;
    }

    header button {
        width: 10rem;
        height: 0.8rem;
    }

    .section-01{
        padding: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

    }

    .div-01 p {
        font-size: 1.1rem;
        line-height: 1.5;
        text-align: left;
        width: 100%;
        margin: 2em;
        padding: 2rem;
    }

    .div-03 p {
        font-size: 1.1rem;
        line-height: 1.5;
        text-align: left;
        width: 100%;
        margin: 2em;
        padding: 2rem;
    }

    .div-02 img {
        width: 20rem;
        margin: 5 auto;
    }

    .section-02 {
        padding: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

    }

    footer i{
        font-size: 4.2rem;

    }

    footer h2 {
        font-size: 1.1rem ;
        line-height:1.5rem ;
        text-align:left;
        width: 100%;
        margin: 2em ;
        padding:2rem ;
       
    }
 }